[Unit]
Description=key_tempo_bot

[Service]
ExecStart=/usr/bin/python3 /home/support/key_tempo_bot/finder.py
Restart=always

[Install]
WantedBy=default.target
