[Unit]
Description=key_tempo_bot

[Service]
WorkingDirectory=/home/support/key_tempo_bot
ExecStart=python3 /home/support/key_tempo_bot/finder.py
Restart=always

[Install]
WantedBy=default.target
